body {
    padding: 0px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #2195f1;
}

.container {
    width: auto;
    height: auto;
}

.title {
    font-size: 46px;
    color: white;
    text-align: center;
}

.logo {
    width: 384px;
    height: 384px;
    display: block;
    margin: 0 auto;
    flex: 1;
}

.login {
    text-align: center;
}

input {
    text-align: center;
}

.filler {
    height: 100%,
    flex-grow: 5;
}

.playstore {
    height: 83px;
    width: 215px;
    display: block;
    margin: 0 auto;
    flex: 1;
}