<!DOCTYPE html>

<html>
    <head>
        <title>Phone Finder</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
        <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <script type = "text/Javascript" src = "main.js"></script>
        <!--<script src="https://sdk.amazonaws.com/js/aws-sdk-2.149.0.min.js"></script> -->
        <div class='first' style='width:100vw; height:100vh;'>
          <img src="/static/img/he.png" style='width:100px; height: 100px;opacity: 10%>
            <div class='inside'style='width:100%; height:100%;'>
                <H1>
                    SWIPER NO SWIPING
                </H1>
                <div class="options">
                <a href="#phone">FIND YOUR PHONE</a>
                <a href="#person">FIND YOUR FIEND</a>
                </div>
            </div>   
        </div>
          
        
        <div id='phone' style='width:100vw; height:100vh;'>
            <div id='printoutPanel' style='width:20vw;'></div>
            <div id='myMap' style='width: 70vw; height: 90vh;'></div>
            <script type='text/javascript'>
                function loadMapScenario() {
                    var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                    Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                        var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                        var reverseGeocodeRequestOptions = {
                            location: new Microsoft.Maps.Location(<%= coords[0] %>, <%= coords[1] %>),
                            callback: function (answer, userData) {
                                map.setView({ bounds: answer.bestView });
                                map.entities.push(new Microsoft.Maps.Pushpin(reverseGeocodeRequestOptions.location),{color:'red'});
                                document.getElementById('printoutPanel').innerHTML =
                                    answer.address.formattedAddress;
                            }
                        };
                        searchManager.reverseGeocode(reverseGeocodeRequestOptions);
                    });


                }
            </script>
            <H1>WHERE IT IS </H1>
            <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AnvC-Jaa74flVw59lfkM6r0TSQgC4XSSxRRoW2Z6lW5yJv0hTZUue0cvEjZ9RMDD&callback=loadMapScenario' async defer></script>
        </div>
        <div id='person' style='width:100vw; height:100vh;'>
            <!--<h1>person person person</h1>-->
            <H1>WHO HAS IT</H1>
            <img src="https://s3.amazonaws.com/phoneprotectionpictures/cefd63b1-d378-4141-b986-31ba2c058a21/Intruder/100.jpg">
            <img src="https://s3.amazonaws.com/phoneprotectionpictures/cefd63b1-d378-4141-b986-31ba2c058a21/Intruder/99.jpg">
            <img src="https://s3.amazonaws.com/phoneprotectionpictures/cefd63b1-d378-4141-b986-31ba2c058a21/Intruder/98.jpg">
        </div>
        
    </body>
</html>