<!DOCTYPE html>

<html>
    <head>
        <title>name</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
       <style type="text/css">
        
        .first{
    background-image: url(http://freebigpictures.com/wp-content/uploads/2009/09/coniferous-forest.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
}

h1{
    font-size: 5em;
    color: white;
    text-align: center;
}
.inside{
    width:100%;
    height:100%;
    padding-top: 10%;
    
    opacity:70%;
}
.options{
    display:block;
    padding: 2%;
    text-align: center;
    font-size: 2em;
}

.options > a{
    display:inline-block;
    margin-left: 5%;
    margin-right: 5%;
    padding:5%;
    background-color:rgba(255,235,196,0.45);
    border-radius:10%;
    
    color:white;
    font-size: 1.5em;
    text-decoration: none;
}
.logout{
    padding-top: 2%;
}
.logout > a{
    font-size:1em;
    text-align: right;
    margin-left: 90%;
    padding:1%;
    text-decoration: none;
    color: white;
    border-radius: 10%;
    background-color: rgba(255,235,196,0.45);
}


#phone{
    display:block;
    background-image: url(https://i0.wp.com/picjumbo.com/wp-content/uploads/DSC02176.jpg?w=2210&quality=50);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    opacity:70%;
}
#printoutPanel{
    float:left;
    max-width: inherit;
    margin-left:3%;
    font-size: 2em;
    margin-top:5%;
    color: black;
}


#myMap{
    border-radius:5%;
    margin-bottom: 2%;
    margin-top: 2%;
    float:right;
    margin-right: 3%;
    opacity:90%;
}

#person{
    margin-top: 0px !important;
    background-image: url(https://static.pexels.com/photos/18855/pexels-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity 70%;
}

p{
    
}

body{
    font-family: sans-serif
}
form{
    text-align: center;
    font-size: 2em;
    margin-bottom: 15%;
}
input{
    margin-bottom:5%;
    display:inline-block;
    font-size:1em;
}
        
        </style>
    </head>
    <body>

        <div class='first' style='width:100vw; height:100vh;'>
          <img src="https://images.cdn1.stockunlimited.net/clipart/hedgehog_1979279.jpg"/>
            
            <div class='inside'style='width:100vw; height:100vh;'>
                
                <H1>
                    PHONE FINDER
                </H1>
                <div class="options">
                <a href="index.html#phone">PHONE</a>
                <a href="index.html#person">PERSON</a>
                </div>
            </div>   
        </div>
          
        
        <div id='phone' style='width:100vw; height:100vh;'>
            <div id='printoutPanel' style='width:20vw;'></div>
            <div id='myMap' style='width: 70vw; height: 90vh;'></div>
            <script type='text/javascript'>
                function loadMapScenario() {
                    var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                    Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                        var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                        var reverseGeocodeRequestOptions = {
                            location: new Microsoft.Maps.Location(<%= coords[0] %>, <%= coords[1] %>),
                            callback: function (answer, userData) {
                                map.setView({ bounds: answer.bestView });
                                map.entities.push(new Microsoft.Maps.Pushpin(reverseGeocodeRequestOptions.location));
                                document.getElementById('printoutPanel').innerHTML =
                                    answer.address.formattedAddress;
                            }
                        };
                        searchManager.reverseGeocode(reverseGeocodeRequestOptions);
                    });


                }
            </script>
            <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AnvC-Jaa74flVw59lfkM6r0TSQgC4XSSxRRoW2Z6lW5yJv0hTZUue0cvEjZ9RMDD&callback=loadMapScenario' async defer></script>
        </div>
        <div id='person' style='width:100vw; height:100vh;'>
            <h1>person person person</h1>
        </div>
        
    </body>
</html>